$bft: MSIBodyFont, 'Microsoft JhengHei', sans-serif; 
$bft-sz: 18px;
$bft-sz-md: 18px;
$bft-sz-xs: 16px;
$bft-col:#fff;
$bft-colw:#222;
$col-red:#f00;
$col-red2:#EA2023;
$col-gray: #777;
$col-gray2: #999;
$col-gray3: #404040;
$col-green: rgb(130,188,0);
$col-alpha: #92b457;
$col-line:#444;
$ts:0.5s all ease-in 0.1s;
$h1:32.5px;
$h1-xs:28px;
$h2:28px;
$main-sp: 35px 0;