.pagination{
	display: flex;
	justify-content: flex-end;
	padding-top: 15px;
	li{
		margin-left: 10px;
		span, a{
			width: 36px;
			height: 36px;
			background:none;
			display: block;
			text-align: center;
			line-height: 36px;
			border-radius: 5px;
			color: $col-gray;
			border: $col-line 1px solid;
		}
		&.active{
			span{
				background:$col-gray;
				color: #fff;
			}
		}
		a:hover{
			background: #fff;
			color: $col-gray3;
		}
	}
	@include vw1920{
		font-size: 14px;
	}
}