@import 'var_prod';
.aside-nav{
	fieldset{
		padding-bottom: 0px;
		margin-bottom: 20px;
		border-bottom: #ccc 1px solid;
	}
	legend, .pd-title{
		display: block;
		font-size: 18px;
		text-transform: uppercase;
		padding-bottom: 20px;
		width: 100%;
	}
	.filter-title{
		&:after{
			content: "";
		}
	}
	.filter-options{
		padding-left: 30px;
		padding-bottom: 15px;
		color: #848484;
		li{
			padding: 0 0 12px;
			font-size: 16px;
		}
	}
	.filter-group{
		cursor: pointer;
		color: #5a5a5a;
		&:last-child{
			padding-bottom: 10%;
		}

		&:first-child{
			padding-top: 25px;
		}
		.filter-options{
			display: none;
			padding-bottom: 20px;
		}
	}
	.filter-group-title{
		font-size: 16px;
		padding-left: 10px;
		padding-bottom: 12px;
		&:before{
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			@include bg-cover("icon-arrow-right-red.svg", center,center);
			margin-right: 10px;
		}
	}
	input[type="checkbox"]{
		display: none;
		&:disabled + label{
			opacity: .25;
			&:hover{
				color: #8a8a8a;
				cursor: not-allowed;
				&:before{
					border-color: #999;
				}
			}
		}
		&:checked + label{
			color: #000;
			&:before{
				background: #000;
				border-color: #000;
			}
		}
	}
	label{
		cursor: pointer;
		&:before{
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			border: #999 1px solid;
			border-radius: 3px;
			margin-right: 12px;
		}
		&:hover{
			color: #000;
			&:before{
				border-color: #000;
			}
		}
	}
	.bt{
		button{
			background: none;
			border: none;
			text-transform: uppercase;
			font-size: 16px;
			color: #8a8a8a;
			padding: 10px;
			border-radius: 3px;
			cursor: pointer;
			transition: $ts;
			border: $col-line 1px solid;
			&:hover{
				background: #999;
				color: #fff;
			}
			i{
				margin-right: 5px;
			}
		}
	}
	.bt-filter-group{
		cursor: pointer;
		&:after{
			content: "\e90b";
			font-family: 'msi-icons' !important;
			width: 15px;
			height: 15px;
			color: #999;
			font-weight: bold;
			border-radius: 50%;
			padding:3px;
			float: right;
			transform: rotate(90deg);
			transition: $ts;
		}
		&:hover:after{
			background: #fff;
			color: #333;
		}
		&.close{
			&:after{
				transform: rotate(180deg);
			}			
		}
	}
	.bt-showmore{
		display: inline-block;
		font-size: 16px;
		padding: 0 10px 5px;
		color: #999;
		cursor: pointer;
		span{
			display: none;			
			&:first-child{
				display: inline-block;
			}
			&:after{
				content: "...";
			}
		}
		&:before{
			content: "\e91f";
			font-family: 'msi-icons' !important;
			transition: $ts;
			margin-right: 5px;
			display: inline-block;
		}
		&:hover{
			color: #000;
		}
		&.show{
			span{
				display: none;
				&:last-child{
					display: inline-block;
				}
			}
			&:before{
				transform: rotate(180deg);
			}
		}
	}
}

#pd-category{
	margin-top: 35px;
	background: #eee;
	padding:25px;
	li{
		padding-bottom: 10px;
		font-size: 16px;
		a{
			color: $col-gray;
			&:before{
				content: "-";
				padding-right: 5px;
			}
			&:hover{
				color: #000;
			}
		}
	}
	@include vw960{
		margin-top: 0;
		border-top: #333 1px solid;
	} 
}

@include vw1920{
	.aside-nav{
		legend, .pd-title{
			font-size: 16px;
		}
		.filter-options{
			li{
				font-size: 14px;
			}
		}
		.filter-group-title{
			font-size: 14px;
		}
		.bt button{
			font-size: 14px;
		}
	}
	#pd-category li{
		font-size: 14px;
	}
} 
@include vw960{
	.aside-nav{
		display: none;
	}
}